{
  "bracketSpacing": true,
  "singleQuote": true,
  "endOfLine": "auto",
  "printWidth": 120,
  "semi": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.svg",
      "options": { "parser": "html" }
    }
  ]
}
